/* 通用样式 */
*{
	margin: 0;
	padding: 0;
}
.wd{
	width: 1200px;
	margin: 0 auto;
}
html,body{
	background: #EFEFF4;
	color: #666666;
	font-size: 10px;
}

ul,ol,li {
	list-style: none;
}

a {
	text-decoration: none;
	color:#D2E4FB;
}
/* 字体样式 */
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../font/iconfont.woff2') format('woff2'),
      url('../font/iconfont.woff') format('woff'),
      url('../font/iconfont.ttf') format('truetype'),
      url('../font/iconfont.svg#iconfont') format('svg');
}
marquee{
	font-size: 20px;
	line-height: 30px;
	color: blue;
	background: rgba(255,0,0);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
.laba{
	font-family: 'iconfont';
}
/* 方案 */
.fangfa{
	height: 100px;
	width: 100%;
	background: #008000;
	text-align: center;
	line-height: 100px;
}
.fangfa>a{
	font-size: 30px;
}
/* 编号姓名 */
h5{
	text-align: center;
	height: 30px;
	line-height: 30px;
}
h5 i{
	font-style: normal;
	margin-left: 10px;
}
/* 参与选手 */
.number{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content:space-around ;
	background:#00AAF8;
	align-items:center ;
	color: white;
	font-size: 15px;
}
.number p{
	text-align: center;
}
/* 倒计时 */
.time{
	text-align: center;
	background: yellow;
	height: 50px;
	line-height: 50px;
}
.time h4{
	display: inline-block;
	text-align: center;
}
.time span{
	font-family: 'iconfont';
	display: inline-block;
}
/* 搜索框 */
/* .search{
	margin-top: 10px;
	text-align: center;
	font-size: 0;
} */
/* .search>input{
	width: 200px;
	height: 28px;
	vertical-align: middle;
}
.search i{
	font-family: 'iconfont';
	font-style:normal ;
	vertical-align: middle;
}
.search>span{
	font-size: 10px;
	vertical-align: middle;
	display: inline-block;
	background: #00AAF8;
	width: 50px;
	height: 30px;
	padding-top: 6px;
	box-sizing: border-box;
} */
/* 参与选手 */
/* .xuanshou{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
.xuanshou li{
	width: 50%;
	height: 200px;
	border: 1px solid red;
	box-sizing: border-box;
} */
/* 导航栏 */
.navi{
	background: white;
	height: 50px;
	width: 100%;
	position:fixed;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.navi li:nth-child(2){
	background: red;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	padding-top: 10px;
	box-sizing: border-box;
}
.navi li{
	text-align: center;
}
.one,.two,.three,.four{
	font-family: 'iconfont';
}
/* 作品区域 */
.main li{
	width: 100%;
	height: 300px;
}
/* 分享按钮 */
.fenxiang{
	width: 80px;
	height: 80px;
	background: #0000FF;
	position: fixed;
	bottom: 100px;
	right: 10px;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
	box-sizing: border-box;
}
.fenxiang>span{
	font-family: 'iconfont';
	font-size: 40px;
}
.fenxiang>p{
	font-size: 20px;
}